*{
    padding: 0;
    margin: 0;
}

:root{
    --size: 400px;
}

.main{
    width: 1000px;
    height: 500px;
    background-color: rgba(94, 190, 235, 0.5);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.puzzle{
    width: var(--size);
    height: var(--size);
    background-color: white;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    align-self: center;
}

.tile{
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;

    transition: all 0.3s;
}

.tilesize3{
    width: calc(var(--size)/ 3);
    height: calc(var(--size)/ 3);
}
.tilesize4{
    width: calc(var(--size)/ 4);
    height: calc(var(--size)/ 4);
}
.tilesize5{
    width: calc(var(--size)/ 5);
    height: calc(var(--size)/ 5);
}
.tilesize6{
    width: calc(var(--size)/ 6);
    height: calc(var(--size)/ 6);
}
.tilesize7{
    width: calc(var(--size)/ 7);
    height: calc(var(--size)/ 7);
}
.tilesize8{
    width: calc(var(--size)/ 8);
    height: calc(var(--size)/ 8);
}

.tile:hover{
    cursor: pointer;
}

.modal{
    width: 300px;
    height: 200px;
}