*{
    padding: 0;
    margin: 0;
}

:root{
    --size: 400px;
    
}

.main{
    width: 1000px;
    height: 500px;
    background-color: rgba(94, 190, 235, 0.5);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.puzzle{
    width: var(--size);
    height: var(--size);
    background-color: white;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    align-self: center;
}

.tile{
    width: calc(var(--size) / 4);
    height: calc(var(--size) / 4);
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;

    transition: all 0.3s;
}

.tile:hover{
    cursor: pointer;
}